.day-card {
  background-color: #fefefe;
  border: 1px solid #e6e6e6;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.weather-thumbnail {
  display: block;
  position: relative;
}

.card-date {
  font-family: "Open sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.card-info {
  color: #8a8a8a;
  display: block;
  font-family: "Open sans", sans-serif;
  font-size: 0.85rem;
}

.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  background-color: #6d83ff;
  color: #000000;
}
